<h1>Books</h1>
<div class="main">
  <div class="title"></div>
  <div class="body"></div>
</div>

<div class="post-main">New book
  <div class="post-title"></div>
  <div class="post-body"></div>
</div>